.wrapper-gallery {
  max-width: 1100px;
  margin: 0 auto; /* 0 top and bottom and auto on left and right*/
  overflow: auto; /* sets the desired behavior for an element's overflow — i.e. when an element's content is too big to fit in its block formatting context — in both directions.*/
  padding-top: 10px;
  padding-bottom: 10px;
}

#index-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 10px;
  grid-template-areas:
    "h2 h2 h2"
    "p p p"
    "img1 img2 img3"
    "img4 img4 img4"
    "img5 img6 img7"
    "img8 img9 img7"
    "img10 img11 img12"
    "img13 img14 img14" ;
}

#index-gallery .gallery-img {
  width: 100%;
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  border-radius: 5px;
}

#index-gallery p {
  grid-area: p;
}
#index-gallery h2 {
  grid-area: h2;
}
#index-gallery .img1 {
  grid-area: img1;
  background-image: url("img/thumbs/img1.jpg");
}
#index-gallery .img2 {
  grid-area: img2;
  background-image: url("img/thumbs/img2.jpg");
}
#index-gallery .img3 {
  grid-area: img3;
  background-image: url("img/thumbs/img3.jpg");
}
#index-gallery .img4 {
  grid-area: img4;
  background-image: url("img/thumbs/img4.jpg");
}
#index-gallery .img5 {
  grid-area: img5;
  background-image: url("img/thumbs/img5.jpg");
}
#index-gallery .img6 {
  grid-area: img6;
  background-image: url("img/thumbs/img6.jpg");
}
#index-gallery .img7 {
  grid-area: img7;
  background-image: url("img/thumbs/img7.jpg");
  height: 610px;
}
#index-gallery .img8 {
  grid-area: img8;
  background-image: url("img/thumbs/img8.jpg");
}
#index-gallery .img9 {
  grid-area: img9;
  background-image: url("img/thumbs/img9.jpg");
}
#index-gallery .img10 {
  grid-area: img10;
  background-image: url("img/thumbs/img10.jpg");
}
#index-gallery .img11 {
  grid-area: img11;
  background-image: url("img/thumbs/img11.jpg");
}
#index-gallery .img12 {
  grid-area: img12;
  background-image: url("img/thumbs/img12.jpg");
}
#index-gallery .img13 {
  grid-area: img13;
  background-image: url("img/thumbs/img13.jpg");
}
#index-gallery .img14 {
  grid-area: img14;
  background-image: url("img/thumbs/img14.jpg");
}

.gallery-img div {
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery-img a {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

.gallery-img div:hover {
  opacity: 0.8;
  transition: all ease-in-out 100ms;
  border-radius: 5px;
}

/* POP UP WINDOWN */

.img-window {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.img-window img {
  max-height: 95vh;
  max-width: 90vw;
  object-fit: contain;
}

/* Next AND PREVIOUS BUTTONS */
.img-btn-next {
  display: block;
  padding: 6px 10px;
  border-radius: 4px;
  background-color: #111111;
  position: fixed;
  top: 48vh;
  z-index: 500;
  font-family: "Lato", sans-serif;
  color: white;
  cursor: pointer;
  text-transform: uppercase;
}

.img-btn-next:hover {
  opacity: 0.8;
}

.img-btn-prev {
  display: block;
  padding: 6px 10px;
  border-radius: 4px;
  background-color: #111111;
  position: fixed;
  top: 48vh;
  z-index: 500;
  font-family: "Lato", sans-serif;
  color: white;
  cursor: pointer;
  text-transform: uppercase;
}

.img-btn-prev:hover {
  opacity: 0.8;
}

@media (max-width: 500px) {
  #index-gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

   }
   .lg {
     font-size: 2rem;
   }
  .img-btn-prev{
    top: 80vh !important;
    left: 20% !important;
    }
    .img-btn-next{
      top: 80vh !important;
      right: 20% !important;
      }
}
 