@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gelasio:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root { /*Global property*/

    --primary-color: #047aed;
    --secondary-color: #1c3fa8;
    --dark-color: #002240;
    --light-color: #f4f4f4;
    --success-color: #5cb85c;
    --error-color: #d9534f;

}


/*Global configuration. Setting box sizing border-box to included padding and margin in the element size.*/

* {
    box-sizing: border-box; 
    padding: 0;
    margin: 0;
}

  
body {
    font-family: 'Lato', sans-serif;
    color: #333;
    line-height: 1.6;
}


ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #333;
}

h1, h2 {
    font-weight: 400;
    line-height: 1.2;
    margin:  10px 0;
    overflow: hidden;
}


p {
    margin: 10px 0;
}


.logo span:after,
.logo span::before{
    content: "\00a0\00a0\00a0\00a0\00a0";
    text-decoration: line-through;
    color: var(--secondary-color);
}

img {
    width: 100%; /*Restrain image size to be equal to container size*/
    
}

#profileImage{
 
    position: relative;
    top: 60px;
    height: 400px;
    width: 400px;
    padding: 40px;
    z-index: 100;
    justify-self: flex-start;
    animation: slideInFromLeft 1s ease-in;
    /* padding: 10px;
    border: 10px solid var(--dark-color); */
}
#profileImage > img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
    /* padding: 10px; */
    border: 10px solid var(--light-color);
}

.navbar {
    background-color: var(--primary-color);
    color: #fff;
    height: 70px;

}

.navbar ul {
    display: flex;
}

.navbar a:hover {
    border-bottom: 2px #fff solid;
}

.MenuButtons.clicked{
    border-bottom: 2px #fff solid;
}

.footer ul a:hover {
    border-bottom: 1px #fff solid;

}
.footer ul li{
margin-bottom: 5px;
}

.navbar a {
    color: #fff;
    padding: 10px;
    margin: 0 5px;
    font-weight: 400;
}

.navbar .flex {
    justify-content: space-between;
}

/*Showcase*/
.showcase {
    height: 400px;
    background-color: var(--primary-color);
    color: #fff;
    position: relative;
}
.showcase-text{
    animation: slideInFromLeft 1s ease-in;
    z-index: 100;
}
.showcase h1 {
    font-size: 40px;
}
.showcase .grid {
    overflow: visible;
    grid-template-columns: 55% 45%;
    gap: 30px;
  }

.showcase p {
    margin: 20px 0;
}
.showcase-form {
    position: relative;
    top: 60px;
    height: 350px;
    width: 400px;
    padding: 40px;
    z-index: 100;
    justify-self: flex-end;
    animation: slideInFromRight 1s ease-in;

}

.showcase-form .form-control {
    margin: 30px 0;
}

.showcase-form input[type='text'],
.showcase-form input[type='email'] {
  border: 0;
  border-bottom: 1px solid #b4becb;
  width: 100%;
  padding: 3px;
  font-size: 16px;
}

.showcase-form input:focus{
    outline: none;
}

/* .showcase::before, */
.showcase::before,
.showcase::after{
    content: 'Hello';
    position: absolute;
    height: 100px;
    bottom: -70px;
    right: 0;
    left: 0;
    background: #fff;
    transform: skewY(-3deg);
    
}
body > section.showcase > div > div.showcase-form.card > input{
    position: relative;
    left: 50%;
}

/* Stats*/
.stats{
    padding-top: 100px;
    animation: slideInFromBottom 1s ease-in;

}

.stats-heading {
    width: 80%;
    margin: auto;
    font-size: 25px;

}

.stats .grid h3 {
    font-size: 30px;
}

.stats .grid p {
    font-size: 20px;
    font-weight: bold;
}

.cli .grid {
    grid-template-columns: repeat(1fr, 1fr);
    grid-template-rows: repeat(2, 1fr);

}

.cli .grid > *:first-child {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
}

/* Cloud */
.cloud .grid {
    grid-template-columns: 1fr;
    align-items: center;
  justify-content: center;

}

.languages .flex {
    flex-wrap: wrap;
}

.languages .card {
    text-align: center;
    margin: 18px 10px 40px;
    transition: transform 0.2s ease-in ;
}

.languages .card h4 {
    font-size: 20px;
    margin-bottom: 10px;
}

.languages .card:hover {
    transform: translateY(-15px);
}

/* Feature*/
.docs-head img,
.features-head img,
.features-sub-head img {
    width: 256px;
    height: 256px;
    justify-self: flex-end;
}

.features-main .card > i {
    margin-right: 20px;
}

.features-main .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}
/* .features-main .grid > *:first-child {
    grid-column:  1 / span 3;
    }

.features-main .grid > *:nth-child(2) {
        grid-column:  1 / span 3;
    } */

/*  Resume */
.docs-main h3 {
    margin: 20px 0;
}

.docs-main .grid {
    grid-template-columns: 1fr 3fr;
}

.docs-main .card {
    margin: 10px;
}

.docs-main nav li{
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 5px;
    border-bottom: 1px #ccc solid;
}
/* .docs-main a{
    color: var(--primary-color);
} */
.docs-main a:hover{
    font-weight: bold;
}

.companyFlex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#workDate{
    color: #ff6200;
    margin-top: 5px;
}
.workDuties{
    list-style: none;
    margin-left: 25px;
    margin-top: 5px;


}
.duty::before{
    content: "\27A4";
    margin-right: 10px;
    color: var(--primary-color);
}

#companyName{
    font-weight: bold;
}

code , pre {
    background-color: #333;
    color: white;
    padding: 10px;
}


/* Footer */
.footer .social a {
    margin: 0 10px;
}
.footer .a{
    padding-bottom: 20px;
}

/* animations */
@keyframes slideInFromLeft{
    0%{
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}
@keyframes slideInFromRight{
    0%{
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}
@keyframes slideInFromTop{
    0%{
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}
@keyframes slideInFromBottom{
    0%{
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0);
    }
}



/* Tablets and under */

@media (max-width: 768px) {
    .grid,
    .showcase .grid,
    .stats .grid,
    .cli .grid,
    .cloud .grid,
    .features-main .grid,
    .docs-main .grid {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
    }
    .logo {
        display: none;

    }
    .navbar .flex{
        align-items: center;
        justify-content: center;

    }

    .navbar a {
        white-space: nowrap;
        overflow: hidden;
        min-width: 0;
     
    }
  
    .showcase {
      height: auto;
    }
  
    .showcase-text {
    animation: slideInFromLeft 1s ease-in;

      text-align: center;
      margin-top: 40px;
    }
  
    .showcase-form {
      justify-self: center;
      margin: auto;
      animation: slideInFromBottom 1s ease-in;
    }
  
    .cli .grid > *:first-child {
      grid-column: 1;
      grid-row: 1;
    }

    .features-head,.features-sub-head,.docs-head{
        text-align: center;
    }
    .features-head img,.features-sub-head img,.docs-head img{
        justify-self: center;
    }

    .features-main .grid > *:first-child,
    .features-main .grid > *:nth-child(2){
        grid-column: 1;
    }

    .footer .container{
        text-align: center;
    }

  }

/* PROGRESS BAR*/

.skills-bar{
    margin-top: 20px;
    width: 100%;
    background: #fff;
    /* border-radius: 10px; */
    /* padding: 20px 30px; */
    /* box-shadow: 5px 5px 10px rgba(0,0,0,0.2); */
}

.skills-bar .bar {
    margin: 20px 0;
}

.skills-bar .bar:first-child{
    margin-top: 0px;
}

.skills-bar .bar .info span{
    /* opacity: 0;
    animation: showText1 0.5s 0.5s linear forwards;
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden; */
}
.skills-bar .bar .info{
margin-bottom: 5px;
}


.skills-bar .bar .progress-line{
    position: relative;
    height: 10px;
    width: 100%;
    background: #f0f0f0;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.05),
                      0px 1px rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    animation: animate 0.5s cubic-bezier(1,0,0.5,1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}

@keyframes animate {
    100%{
        transform: scaleX(1);
    }
}

.bar .progress-line span {
    position: absolute;
    height: 100%;
    width: 80%;
    background: var(--primary-color);
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 0.5s 0.5s cubic-bezier(1,0,0.5,1) forwards;

}

.bar .progress-line span::before {
    position: absolute;
    content: "";
    right: 0;
    top: -11px;
    height: 0;
    width: 0;
    border: 9px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #ff4377;
    opacity: 0;
    animation: showText2 0.25s 0.75s linear forwards;


}
.bar .progress-line span::after {
    position: absolute;
    content: "A2";
    right: 0;
    top: -28px;
    font-size: 12px;
    padding: 1px 8px;
    background: #ff4377;
    top: -28px;
    color: white;
    border-radius: 5px;
    padding: 1px 8px;
    border-radius: 3px;
    opacity: 0;
    animation: showText2 0.25s 0.75s linear forwards;

}
@keyframes showText2{
    100%{
        opacity: 1;
    }
}
@keyframes showText1{
    100%{
        opacity: 1;
    }
}

.card.flex.app{
/* background-color: green; */
flex-direction: column;
width: 100%;
margin: 0px;
}
.card.flex.apple{
    /* background-color: red; */
    height: 150px;
    margin: 0px;
    box-shadow: none;
    }
.wrapper-gallery.app{
    width: 100%;
    height: 300px;
    margin: 10px;
    overflow: auto; /* sets the desired behavior for an element's overflow — i.e. when an element's content is too big to fit in its block formatting context — in both directions.*/
    padding: 10px;
    border-radius: 10px;
}

.alert.apple{
    margin: 0px;
    width: 100%;
    border-radius: 10px;
}
/* .alert.apple a{
    font-family: 'Gelasio', serif;
} */
.alert.apple a:hover{
    font-weight: bolder;
    /* font-family: 'Gelasio', serif; */
    border-bottom: 1px #4886f4 solid;
}
#index-gallery-app {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  grid-template-areas:
    "img15 img16 img17 img18 img19";
}
#index-gallery-app .img15 {
    grid-area: img15;
    background-image: url("img/thumbs/img15.jpg");
  }
#index-gallery-app .img16 {
    grid-area: img16;
    background-image: url("img/thumbs/img16.jpg");
  }
#index-gallery-app .img17 {
    grid-area: img17;
    background-image: url("img/thumbs/img17.jpg");
  }
#index-gallery-app .img18 {
    grid-area: img18;
    background-image: url("img/thumbs/img18.jpg");
  }
#index-gallery-app .img19 {
    grid-area: img19;
    background-image: url("img/thumbs/img19.jpg");
  }
#index-gallery-app .gallery-img {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    border-radius: 5px;
  }

.progress-line.progress0 span::after{
content: "C2";
}
.progress-line.progress1 span::after{
content: "C2";
}
.progress-line.progress2 span::after{
content: "C1";
}
.progress-line.progress3 span::after{
content: "B1";
}
.bar .progress-line.progress-line.progress0 span{
    width: 100%;
}
.bar .progress-line.progress-line.progress1 span{
    width: 100%;
}
.bar .progress-line.progress-line.progress2 span{
    width: 75%;
}
.bar .progress-line.progress-line.progress3 span{
    width: 50%;
}  

.svgContainer {
    justify-self: flex-end;
}

.svgAnimate.svgResume path{
    fill: transparent;
    stroke-width: 1;
    stroke: var(--dark-color);;
    stroke-dasharray: 2650;
    stroke-dashoffset: 2650;
}

.svgAnimate.svgResume path{
    animation: animate-resume 2.5s linear forwards;
}

.svgAnimate.svgHeart path{
    fill: transparent;
    stroke-width: 4;
    stroke: #ffd700;
    stroke-dasharray: 2650;
    stroke-dashoffset: 2650;
}

.svgAnimate.svgHeart path{
    animation: animate-heart 2.5s linear forwards;
}

@keyframes animate-resume {
    0%{
        stroke-dashoffset: 2650;

    }
    20%{
        stroke-dashoffset: 2650;

    }
    40%{
        stroke-dashoffset: 1590;
        fill:transparent;

    }
    60%{
        stroke-dashoffset: 1060;
        fill: var(--dark-color);

    }
    80%{
        stroke-dashoffset: 530;
        fill: var(--dark-color);

    }
    100%{
        stroke-dashoffset: 0;
        fill: var(--dark-color);
    }
}
@keyframes animate-heart {
    0%{
        stroke-dashoffset: 2650;

    }
    20%{
        stroke-dashoffset: 2650;

    }
    40%{
        stroke-dashoffset: 1590;
        fill:transparent;

    }
    60%{
        stroke-dashoffset: 1060;
        fill: #ffd700;

    }
    80%{
        stroke-dashoffset: 530;
        fill: #ffd700;

    }
    100%{
        stroke-dashoffset: 0;
        fill: #ffd700;
    }
}

.downloadResume:hover {
    color: white;
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
}
.downloadResume {
    padding: 10px;
    color: var(--primary-color);
    background-color: white;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid var(--primary-color);
}
.downloadContainer{
    display: flex;
    justify-content: center;
}

/* Mobile */
@media (max-width: 500px) {
    #index-gallery {
        grid-template-columns: 1fr;
        padding: 1em;
        grid-template-areas:
        "img1" 
        "img2" 
        "img3" 
        "img4" 
        "img5" 
        "img6" 
        "img7" 
        "img8" 
        "img9" 
        "img10" 
        "img11" 
        "img12" 
        "img13"
        "img14";
    }
    
    .showcase-text{
        animation: slideInFromTop 1s ease-in;
    }
    .stats{
        animation: slideInFromBottom 1s ease-in;

    }
    .navbar {
      height: 110px;
      width: 100%;

    }

    .navbar .nav{
        width: 100%;
      }
  
    .flex {
        flex-wrap: wrap;
        align-items:center;
        justify-content: center;
        height: 100%;
    }
  
    .navbar ul {
      padding: 10px;
      background-color: rgba(0, 0, 0, 0.1);
    }
    
    .showcase-form {
      width: 300px;
      animation: slideInFromBottom 1s ease-in;}

    .docs-main .grid {
        background-color: red;
        /* height: 100%; */

    }
    .docs-main {
        width: 300px;
        height: auto;
        margin: auto;
    }

  }

