@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

:root { /*Global property*/

    --primary-color: #047aed;
    --secondary-color: #1c3fa8;
    --dark-color: #002240;
    --light-color: #f4f4f4;
    --success-color: #5cb85c;
    --error-color: #d9534f;

}


/*Global configuration. Setting box sizing border-box to included padding and margin in the element size.*/

* {
    box-sizing: border-box; 
    padding: 0;
    margin: 0;
}

  
body {
    font-family: 'Lato', sans-serif;
    color: #333;
    line-height: 1.6;
}


ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #333;
}

h1, h2 {
    font-weight: 400;
    line-height: 1.2;
    margin:  10px 0;
    overflow: hidden;
}


p {
    margin: 10px 0;
}

.logo span:after,
.logo span::before{
    content: "\00a0\00a0\00a0\00a0\00a0";
    text-decoration: line-through;
    color: var(--secondary-color);
}

img {
    width: 100%; /*Restrain image size to be equal to container size*/
    
}

.navbar {
    background-color: var(--primary-color);
    color: #fff;
    height: 70px;

}

.navbar ul {
    display: flex;
}

.navbar a:hover {
    border-bottom: 2px #fff solid;
}
.footer ul a:hover {
    border-bottom: 1px #fff solid;

}
.footer ul li{
margin-bottom: 5px;
}

.navbar a {
    color: #fff;
    padding: 10px;
    margin: 0 5px;
    font-weight: 400;
}

.navbar .flex {
    justify-content: space-between;
}

/*Showcase*/
.showcase {
    height: 400px;
    background-color: var(--primary-color);
    color: #fff;
    position: relative;
}
.showcase-text{
    animation: slideInFromLeft 1s ease-in;
}
.showcase h1 {
    font-size: 40px;
}
.showcase .grid {
    overflow: visible;
    grid-template-columns: 55% 45%;
    gap: 30px;
  }

.showcase p {
    margin: 20px 0;
}
.showcase-form {
    position: relative;
    top: 60px;
    height: 350px;
    width: 400px;
    padding: 40px;
    z-index: 100;
    justify-self: flex-end;
    animation: slideInFromRight 1s ease-in;

}

.showcase-form .form-control {
    margin: 30px 0;
}

.showcase-form input[type='text'],
.showcase-form input[type='email'] {
  border: 0;
  border-bottom: 1px solid #b4becb;
  width: 100%;
  padding: 3px;
  font-size: 16px;
}

.showcase-form input:focus{
    outline: none;
}

/* .showcase::before, */
.showcase::before,
.showcase::after{
    content: 'Hello';
    position: absolute;
    height: 100px;
    bottom: -70px;
    right: 0;
    left: 0;
    background: #fff;
    transform: skewY(-3deg);
    
}
body > section.showcase > div > div.showcase-form.card > input{
    position: relative;
    left: 50%;
}

/* Stats*/
.stats{
    padding-top: 100px;
    animation: slideInFromBottom 1s ease-in;

}

.stats-heading {
    width: 75%;
    margin: auto;
    font-size: 20px;

}

.stats .grid h3 {
    font-size: 30px;
}

.stats .grid p {
    font-size: 20px;
    font-weight: bold;
}

.cli .grid {
    grid-template-columns: repeat(1fr, 1fr);
    grid-template-rows: repeat(2, 1fr);

}

.cli .grid > *:first-child {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
}

/* Cloud */
.cloud .grid {
    grid-template-columns: 1fr;
    align-items: center;
  justify-content: center;

}

.languages .flex {
    flex-wrap: wrap;
}

.languages .card {
    text-align: center;
    margin: 18px 10px 40px;
    transition: transform 0.2s ease-in ;
}

.languages .card h4 {
    font-size: 20px;
    margin-bottom: 10px;
}

.languages .card:hover {
    transform: translateY(-15px);
}

/* Feature*/
.docs-head img,
.features-head img,
.features-sub-head img {
    width: 256px;
    height: 256px;
    justify-self: flex-end;
}

.features-main .card > i {
    margin-right: 20px;
}

.features-main .grid > *:first-child {
    grid-column:  1 / span 3;
    }

.features-main .grid > *:nth-child(2) {
        grid-column:  1 / span 2;
        }

/*  Resume */
.docs-main h3 {
    margin: 20px 0;
}

.docs-main .grid {
    grid-template-columns: 1fr 3fr;
}

.docs-main .card {
    margin: 10px;
}

.docs-main nav li{
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 5px;
    border-bottom: 1px #ccc solid;
}
/* .docs-main a{
    color: var(--primary-color);
} */
.docs-main a:hover{
    font-weight: bold;
}

.companyFlex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#workDate{
    color: #ff6200;
    margin-top: 5px;
}
.workDuties{
    list-style: none;
    margin-left: 25px;
    margin-top: 5px;


}
.duty::before{
    content: "\27A4";
    margin-right: 10px;
    color: var(--primary-color);
}

#companyName{
    font-weight: bold;
}

code , pre {
    background-color: #333;
    color: white;
    padding: 10px;
}


/* Footer */
.footer .social a {
    margin: 0 10px;
}
.footer .a{
    padding-bottom: 20px;
}

/* animations */
@keyframes slideInFromLeft{
    0%{
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}
@keyframes slideInFromRight{
    0%{
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}
@keyframes slideInFromTop{
    0%{
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}
@keyframes slideInFromBottom{
    0%{
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0);
    }
}



/* Tablets and under */

@media (max-width: 768px) {
    .grid,
    .showcase .grid,
    .stats .grid,
    .cli .grid,
    .cloud .grid,
    .features-main .grid,
    .docs-main .grid {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
    }
    .logo {
        display: none;

    }
    .navbar .flex{
        align-items: center;
        justify-content: center;

    }

    .navbar a {
        white-space: nowrap;
        overflow: hidden;
        min-width: 0;
     
    }
  
    .showcase {
      height: auto;
    }
  
    .showcase-text {
    animation: slideInFromLeft 1s ease-in;

      text-align: center;
      margin-top: 40px;
    }
  
    .showcase-form {
      justify-self: center;
      margin: auto;
      animation: slideInFromBottom 1s ease-in;
    }
  
    .cli .grid > *:first-child {
      grid-column: 1;
      grid-row: 1;
    }

    .features-head,.features-sub-head,.docs-head{
        text-align: center;
    }
    .features-head img,.features-sub-head img,.docs-head img{
        justify-self: center;
    }

    .features-main .grid > *:first-child,
    .features-main .grid > *:nth-child(2){
        grid-column: 1;
    }

    .footer .container{
        text-align: center;
    }

  }

/* Mobile */
@media (max-width: 500px) {
    .showcase-text{
        animation: slideInFromTop 1s ease-in;
    }
    .stats{
        animation: slideInFromBottom 1s ease-in;

    }
    .navbar {
      height: 110px;
      width: 100%;

    }

    .navbar .nav{
        width: 100%;
      }
  
    .flex {
        flex-wrap: wrap;
        align-items:center;
        justify-content: center;
        height: 100%;
    }
  
    .navbar ul {
      padding: 10px;
      background-color: rgba(0, 0, 0, 0.1);
    }
    
    .showcase-form {
      width: 300px;
      animation: slideInFromBottom 1s ease-in;}

    .docs-main .grid {
        background-color: red;
        /* height: 100%; */

    }
    .docs-main {
        width: 300px;
        height: auto;
        margin: auto;
    }

  }

