/*Utility Classes*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gelasio:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.card {
    background-color: white;
    color: #333;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.2);
    padding: 20px;
    margin: 10px;
}

.btn {
    display: inline-block;
    padding: 10px 30px;
    cursor: pointer;
    background: var(--primary-color);
    color: #fff;
    border: 0px;
    border-radius: 5px;
    }
    
.bg-primary,
.btn-primary {
    background-color: var(--primary-color);
    color: white;
}
.bg-secondary,
.btn-secondary {
    background-color: var(--secondary-color);
    color: white;
}
.bg-dark,
.btn-dark {
    background-color: var(--dark-color);
    color: white;
}
.bg-light,
.btn-light {
    background-color: var(--light-color);
    color: #333;
}

/* Text Colors */
.text-primary
 {
    color: var(--primary-color);
}

.text-secondary{
    color: var(--secondary-color);
}

.text-dark {
    color: var(--dark-color);
}
.text-light {
    color: var(--light-color);
}


.bg-primary a,
.btn-primary a,
.bg-secondary a,
.btn-secondary a,
.bg-dark a,
.btn-dark a{
color: white;
}


/* Text sizes */
.lead {
    font-size:20px;
}
.sm {
    font-size: 1rem;
}
.md {
    
    font-size: 2rem;
}
.lg {
    
    font-size: 3rem;
}
.xl {
    font-size: 4rem;
}

.btn-outline {
    background-color: transparent;
    border: 1px #fff solid;
}
.btn-outline:hover{
    background-color: white;
    color: #333;
    /* border: 1px #333 solid; */

}

.btn:hover {
    transform: scale(0.98);
    font-weight: 500;
}

.text-center {
    text-align: center;
}



.container {
    max-width: 1100px;
    margin: 0 auto; /* 0 top and bottom and auto on left and right*/
    overflow: auto; /* sets the desired behavior for an element's overflow — i.e. when an element's content is too big to fit in its block formatting context — in both directions.*/
    padding: 0 40px;
     }

.flex {
    display: flex;
    flex-direction: row;  
    justify-content: center;
    align-items: center; 
    height: 100%;
    overflow: hidden; 
    }

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.grid-3 {
grid-template-columns: repeat(3, 1fr);
padding-top: 10px;
padding-bottom: 10px;
}

/* Margin*/
.my-1 {
    margin: 1rem 0;   
}

.my-2 {
    margin: 1.5rem 0;
}

.my-3 {
    margin: 2rem 0;
}

.my-4 {
    margin: 3rem 0;
}

.my-5 {
    margin: 4rem 0;
}

.m-1 {
    margin: 1rem;
}

.m-2 {
    margin: 1.5rem;
}

.m-3 {
    margin: 2rem;
}

.m-4 {
    margin: 3rem;
}

.m-5 {
    margin: 4rem ;
}

/* Padding */
.py-1 {
    padding: 1rem 0;   
}

.py-2 {
    padding: 1.5rem 0;
}

.py-3 {
    padding: 2rem 0;
}

.py-4 {
    padding: 3rem 0;
}

.py-5 {
    padding: 4rem 0;
}
.p-1 {
    padding: 1rem 0;   
}

.p-2 {
    padding: 1.5rem 0;
}

.p-3 {
    padding: 2rem 0;
}

.p-4 {
    padding: 3rem 0;
}

.p-5 {
    padding: 4rem 0;
}

.alert {
    background-color: var(--light-color);
    padding: 10px 20px;
    margin: 15px 0;
}
.alert a {
    color:#4886f4;

}


.alert-neutral{
    background-color: var(--dark-color);
}
.alert-success{
    background-color: var(--success-color);
    color: white;
}

.alert-code{
    background: #333;
    color: #fff;
}

.alert-error{
    background-color: var(--error-color);
    color: white;
}

.alert i{
    margin-right: 10px;
}

.resumeRef {
    color: #333;
    background: none!important;
    border: none;
    padding: 0!important;
    line-height: 1.6;
    /*optional*/
    font-family: 'Lato', sans-serif;
    /*input has OS specific font-family*/
    cursor: pointer;
    font-size: medium;
  }

.resumeRef.active{
    color: var(--primary-color);
    font-weight: bold;
    cursor: default;
}

  .resumeRef:hover {
    font-weight: bold;
    color: var(--primary-color);
    }

.blockquote {
    color: white;
    
    background-color: #ff4377;
    border-radius: 10px;
    /* border-top-right-radius: 10px;
    border-bottom-right-radius: 10px; */
    box-shadow: 0 3px 10px rgba(0,0,0,0.2);
    border-left: 0.5px solid white;
    padding: 10px 20px 10px 20px;
    width: 600px;
    margin: 10px;
}

.blockquote--bordered{
border-left-width: 10px;
}
.blockquote--quoted::before{
    content: "\201c";
    font-size: 75px;
    color: white;
    display: block;
    margin-bottom: -40px;
    margin-top: -20px;
}
.quoteText{
    font-size: large;
    font-style: italic;
    font-family: 'Gelasio', serif;
    margin: 5px;


}

.quoteText:not(:last-child){
    margin-bottom: 1em;
}

.quoteAuthor {
    font-weight: bold;
    font-style: normal;
    text-align: right;
}

.quoteAuthor::before {
    content: "\2014\0020"
}





